Flask
Flask-SQLAlchemy
google-generativeai
python-dotenv
pandas
SQLAlchemy
gunicorn
Werkzeug
Jinja2
MarkupSafe
itsdangerous
click
google-cloud-logging
google-cloud-monitoring
faiss-cpu
sentence-transformers
numpy
requests